{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ coin }}  |  {{ last_price }}</title>
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'second-page.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #161a1e">
    
    {% include 'navbar.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function updatePageTitle(coinSymbol, coinPrice) {
                document.title = coinPrice + ' | ' + coinSymbol + ' | ' + 'Binance Spot';
            }

            function updateCoinPrice() {
                $.ajax({
                    url: "{% url 'get_last_price' %}",
                    type: 'GET',
                    success: function(data) {
                        var coinSymbol = '{{ coin }}';
                        updatePageTitle(coinSymbol, data.last_price);
                    },
                    error: function(xhr, status, error) {
                        console.error('Ошибка при получении цены монеты:', error);
                    }
                });
            }

            setInterval(updateCoinPrice, 500);
        });
    </script>

    <div class="binance-trading-widget">
        <div class="binance-trading-view" id="tradingview_9d57b"></div>
    </div>

    <form method="get" class="binance-trading-form">
        <div class="search-bar">
            <input type="text" id="coin" name="coin" placeholder="Enter coin symbol (e.g., BTC)">
            <button id="update-chart">Update Chart</button>
        </div>
    </form>

    <div class="chart-container">
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js" defer></script>
        <script type="text/javascript">
                $(document).ready(function () {
                    function updateChart(coinSymbol) {
                        console.log("Updating chart for", coinSymbol);
                        new TradingView.widget(
                            {
                                "width": 1050,
                                "height": 600,
                                "symbol": `BINANCE:${coinSymbol}`,
                                "interval": "1H",
                                "timezone": "Etc/UTC",
                                "theme": "dark",
                                "style": "1",
                                "locale": "en",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "allow_symbol_change": true,
                                "container_id": "tradingview_9d57b"
                            }
                        );
                    }
    
                    var defaultSymbol = 'BTCUSDT';
                    updateChart(defaultSymbol);
                    

                    $('#update-chart').on('click', function () {
                        event.preventDefault();
                        console.log("Update chart button clicked!");
                        var coinSymbol = $('#coin').val().toUpperCase();
                        updateChart(coinSymbol);
                        document.getElementById("amount").placeholder = coinSymbol;
                    });
                });
        </script>
        <div id="tradingview_9d57b"></div>
    </div>

    <form>
        <div class="form-container">
            <div>
                <label for="price" class="field-label">Price:</label>
                <input type="text" id="price" name="price" dir="rtl" placeholder="USDT">
            </div>
            <div>
                <label for="amount" class="field-label">Amount:</label>
                <input type="text" id="amount" name="amount" dir="rtl" placeholder="{{ coin }}">
            </div>
            <div>
                <label for="total" class="field-label">Total:</label>
                <input type="text" id="total" name="total" dir="rtl" placeholder="USDT">
            </div>
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var priceInput = document.getElementById('price');
            var amountInput = document.getElementById('amount');
            var totalInput = document.getElementById('total');

            priceInput.value = '{{ last_price }}';
    
            function updateTotal() {
                var price = parseFloat(priceInput.value) || 0;
                var amount = parseFloat(amountInput.value) || 0;
                var total = price * amount;
                totalInput.value = total.toFixed(2);
            }
    
            updateTotal();
    
            priceInput.addEventListener('input', updateTotal);
            amountInput.addEventListener('input', updateTotal);
        });
    </script>
</body>
</html>
