{% load static %}

<link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">

<nav class="navbar navbar-expand-lg navbar-dark bg-binance">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main-page' %}">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'graphics-page' %}">Graphic</a>
                </li>
                <li class="nav-item active">    
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>                
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
