body {
    font-family: Arial, sans-serif;
    background-color: #181c27;
    margin: 0;
    padding: 0;
}
/* Стили для dropdown-меню */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #181c27;
    color: #f3ba2f;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e2733;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #f3ba2f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}
.dropdown-content a:hover {
    background-color: #181c27;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #1e2733;
}
.stocks .dropdown-content {
    left: auto;
    right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#forms {
    margin-top: -400px;
}

.table-container {
    width: 100%;
    margin-top: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e2733;
    color: #f3ba2f;
}
.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f3ba2f;
}
.table th {
    color: #f3ba2f;
    background-color: #181c27;
}
.table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2733;
    padding: 10px 20px;
    border-top: 1px solid #f3ba2f;
}
.table-actions button {
    background-color: #f3ba2f;
    color: #1e2733;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.table-actions button:hover {
    background-color: #f3ba2f;
}