body {
    margin: 0;
    padding: 0;
    background-color: #161a1e;
}

/* Crypto table data Settings */

.red {
    color: #c74154;
}

.green {
    color: #0fc67e;
}

#crypto-table {
    width: 20px; 
    height: 60px;
    margin: -1px;
    float: left ; 
    background-color: #161a1e;
    border-collapse: collapse;
    overflow: hidden;
    border: 1px solid rgb(37, 41, 48);
    font-size: 14px;
    color: #dcecef;
}

#crypto-table th,
#crypto-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(37, 41, 48);
}

#crypto-table th {
    background-color: #161a1e;
}

#crypto-table tbody tr:nth-child(even) {
    background-color: #161a1e;
}

#crypto-table tbody tr:nth-child(odd) {
    background-color: #161a1e;
}