body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.red {
    color: rgba(255, 0, 0, 0.616);
}

.green {
    color: rgba(0, 128, 0, 0.616);
}

#crypto-table {
    width: 20vw; 
    height: 60vh;
    margin: -1px;
    margin-right: 400px;
    float: right; 
    background-color: black;
    border-collapse: collapse;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.336);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.753);
    cursor: grab;
}

#crypto-table th,
#crypto-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.336);
}

#crypto-table th {
    background-color: #212329;
}

#crypto-table tbody tr:nth-child(even) {
    background-color: #212329;
}

#crypto-table tbody tr:nth-child(odd) {
    background-color: #212329;
}

.navbar-dark.bg-binance {
    background-color: #121212;
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
}

.navbar-dark.bg-binance .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-dark.bg-binance .nav-link {
    color: #fff !important;
}

.navbar-dark.bg-binance .nav-link:hover {
    color: #f3ba2f !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.navbar-nav:last-child {
    margin-right: 0;
}