.search-bar {
    text-align: center;
    width: auto;
    min-width: 490px;
}

.binance-trading-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coin {
    padding: 10px;
    border: none;
    background-color: #1e2026;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
    width: 45%;
}

#update-chart {
    padding: 10px 16px;
    border: none;
    background-color: #1e2026;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

#update-chart:hover {
    background-color: #333333;
}

#buyForm {
    position: absolute;
    top: 60px;
    margin-bottom: 10px;
}

#sellForm {
    position: absolute;
    top: 60px;
    margin-bottom: 10px;
    margin-left: 80%;
}

.form-container div {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.form-container label{
    margin-right: 10px;
    width: 100px;
    text-align: right;
    color: white;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container select {
    background-color: #2a2d35;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    width: 200px;
}

.form-container input[type="text"]:hover,
.form-container select:hover {
    border-color: #f0b90b;
}

#buy_coin,
#sell_coin {
    color: white;
    border: none;
    padding: 10px 53px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    white-space: nowrap;
}

#buy_coin {
    background-color: #32d993;
    position: absolute;
    left: 36.2%;
}

#sell_coin {
    background-color: #ff707e;
    position: absolute;
    right: 3.3%;
}